*
!.gitignore
!build.gradle
!copy_jars.bat
!credits.txt
!gdx-setup-1.4.1.jar
!README
!android/
!android/*
!core/
!core/*
!desktop/
!desktop/*
!html/
!html/*
!patches/
!patches/*
!rawAssets/
!rawAssets/*